@import "../../App.scss";

.portofolio {
  .por-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .card {
    width: 25rem;
    background-color: $bg-variant;
    border-radius: 2rem;
    padding: 1rem;
    cursor: default;
    transition: $transition;
    p {
      margin-left: -5px !important;
    }
    img {
      border-radius: 1rem;
      margin-bottom: -8px !important;
    }
    .por-buttons {
      margin-left: -5px !important;
      margin-top: 2rem !important;
    }
    &:hover {
      border: 1px solid $primary;
      background-color: transparent;
    }
  }
}

.get-back{
  position: sticky;
  top: 0;
  background: rgb(13, 3, 34);
  color: white;
  padding: 1rem;
  z-index: 5555;
  border-radius: 6px;
}