@import "../../App.scss";

.about {
  .about-right-card {
    background: $bg-variant;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid $primary;
    transition: $transition;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
    &:hover {
      background: transparent !important;
      color: $white;
      box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 2px,
        rgb(255, 255, 255) 0px 0px 0px 1px;
    }
  }
  .about-par {
    text-align: left;
    margin-left: 1rem;
    font-weight: bold;
    color: rgb(213, 213, 213);
  }
  a {
    background: rgb(150, 226, 150) !important;
    color: black;
    &:hover {
      background: transparent !important;
      color: $white;
      border: 1px solid $primary;
    }
  }
  .about-button {
    text-align: left !important;
    margin-left: 1rem;
  }
  .about-me-image {
    width: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg, transparent, $primary, transparent);
    border-radius: 2rem;
    transform: scale(1.1);
    .about-img {
      transform: rotate(10deg);
      border-radius: 2rem;
      overflow: hidden;
      cursor: pointer;
      transition: $transition;
      &:hover {
        transform: rotate(0);
      }
    }
  }
  .about-section {
    gap: 6rem;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about {
    margin-top: 15rem;
    h3 {
      font-size: 1rem;
    }
    .about-par {
      margin-top: 4rem !important;
      margin-bottom: 1rem;
    }
  }
}
@media screen and (max-width: 1400px) {
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about {
    margin-top: 15rem;
    h3 {
      font-size: 1rem;
    }
    .about-par {
      margin-top: 4rem !important;
      margin-bottom: 1rem;
    }
  }
}
@media screen and (max-width: 940px) {
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
  }
  .about {
    .about-me-image {
      max-width: 70% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5rem;
    }
    margin-top: 15rem;
    h3 {
      font-size: 1rem;
    }
    .about-par {
      margin-top: 4rem !important;
      margin-bottom: 1rem;
    }
  }
}
